.online-compile-header-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.25rem;
}

.md-header .online-compile-header-button {
  white-space: nowrap;
}

.online-compile-header-button svg {
  width: 1.2rem;
  height: 1.2rem;
}
